<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
=======
<%= link_to "Home", root_path %>
<%= link_to "About Us", about_path %>
>>>>>>> d7ecc4ad64ae2cd3a60923b91d1b7e40c2a7d9ff
<%= yield %>

</body>
</html>
